
* {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

h1 {
    text-align: center;
}

div .row {
    margin:  20px;
    padding: 20px;
}

/*see below - manipulate with "id" selector change font*/
/*#about-me {
    font-family:  sans-serif;
    font-size: 100px;
}*/

.Project1 {
    
}