

* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
 }

 html {
  scroll-behavior: smooth;
}

/*Navbar*/
 #logo{
     height: 30px;
     margin: 12px;
     float: left;
 }

.jumbotron{
    background-color:#053A61;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    margin-bottom: 20px;
} 

#intro{
    color:#FFE4B5;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 3em;
}

.lead{
    color:#FFE4B5;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 100px !important;
}

#ME{
   /* color: #fe5a1d;*/
     font-size: 100px !important;
}

#currentP{
    font-size: 60px !important;
    color: #FFE4B5;
}


#blueee{
    background-color: #fe5a1d;
}

#AbtMe{
    color: #053A61 ;
}

 .nav-link{
     display: inline-block;
     margin: 5px;
     padding: 10px;
     flex-wrap: wrap;
     text-decoration:none;
 }

 #navbar{
     display: flex;
     text-align: right;
     display: block;

 }

/*End Nav*/

#projects{
    margin: 10px !important;
    padding: 10px !important;
    color: orangered;
}

h5{
    color: #FFE4B5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Staatliches', cursive;
}

p{
    color: white;
}

#meme{
    border-radius: 100%;
    height: auto;
}

#CNTXT{
    font-size: 50px;
    margin-top: 70px;
}

/*H2 targets*/
h2{
    color: #FFE4B5; 
    font-family: 'Staatliches', cursive;
    font-size: 5em;
    margin-top: 220px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

/*End H2 targets*/

/*Form & Map*/
 body{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: #053A61;
    font-family: 'Poppins', sans-serif;
 }

 #formC{
    margin-bottom: 60px;
    margin-top: 50px;
 }

.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #e25822;
}

.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}

.contact-form h1{
    margin-bottom: 10px;    
}

.contact-form-txt{
    width: 100%;
    height: 40px; 
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder{
    color: #aaa;
}

.contact-form-textarea{
    width: 100%;  
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form-textarea::placeholder{
    color: #aaa;
}

.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #053A61;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}
/*End of Form & Map*/

/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1170px;
    margin:auto;
    margin-top: 30px !important;
}
/*.row{
    display: flex;
    flex-wrap: wrap;
}*/

ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
}
.footer-col{
   width: 25%;
   /*padding: 0 15px;*/
}

.footer-col ul li:not(:last-child){
    margin-bottom: 5px;
}
.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #f94d00;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #e25822;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
