

/** {
    margin: 0px;
    padding:0px;
    background-color: blanchedalmond;
 }
*/
img{
    width: 100%;
}



/*Other Navvvv*/
/*#logo{
    height: 30px;
    margin: 12px;
    float: left;
}

.nav-link{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    /*flex-wrap: wrap;*/
}

/*#navbar{
    display: flex;
    text-align: right;
    display: block;
}

ul{
    white-space: nowrap;
}*/